future
emoji
beautifulsoup4
requests
sqlalchemy==1.3.23
python-telegram-bot==11.1.0
telethon==1.16.4
google_trans_new
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
#jikanpy
speedtest-cli
coffeehouse
tswift
gTTS
wikipedia
pyowm
tabulate
parsel
youtube_search
youtube_dl
lxml
pyrogram
regex
bleach
git+https://github.com/starry69/python-markdown2.git
alphabet_detector
pyrate-limiter
gtts
nekos.py
fontTools
typing
telegraph
cachetools
tabulate
mtranslate
tgcrypto
configparser
pytz
hachoir
pybase64
pySmartDL
validators
secureme
html2text
flag
bs4
youtube_search_python
search_engine_parser
asyncio
bing_image_downloader
python-arq
motor
dnspython
cryptography
pymongo
pykeyboard
